
.accordion {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.accordion:last-child {
    margin-bottom: 0px;
}

.accordion__item {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    width: 730px;
}

.accordion__item[open] .accordion__summary {
    padding-bottom: 16px;
}

.accordion__item:last-child {
    margin-bottom: 0px;
}

.accordion__summary {
    color: var(--black);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 32px;
    cursor: pointer;
    list-style: none;
}

.accordion__summary::-webkit-details-marker {
    display: none;
  }

.accordion__description {
    color:var(--grey-4);
    padding-left: 32px;
    padding-bottom: 32px;
    margin: 0;
}
