.skeleton {
    height: 192px;
    width: 579px;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
}

.skeleton__header-wrapper {
    display: flex;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #DDE2E5;
    margin-top: 24px;
    margin-left: 24px;
}

.skeleton__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-left: 16px;
}

.skeleton__header-title {
    width: 172px;
    height: 20px;
    margin-bottom: 8px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__header-subtitle {
    width: 257px;
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__placeholder-wrapper {
    padding-left: 24px;
    margin-top: 24px;
}

.skeleton__placeholder {
    width: 515px;
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__placeholder:first-child {
    margin-bottom: 8px;
}